body{
    background-image: url("Artboard 1.png");
    background-size: 1370px;
    background-repeat: no-repeat;
}
button{
    border-radius: 5px;
    height: 60px;
    width: 110px;
}
input{
    border-radius: 5px;
    height: 35px;
    width: 310px;
    font-size: x-large;
}
div{
    height: 300px;
    width: 500px;
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
p{
    font-size: 35px;
}